@charset "UTF-8";
html {
	font-size: 14px;
	font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

ul {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}

.auto-img {
	width: 100%;
	min-width: 100%;
}

.wrap {
	min-width: 1200px;
	width: 100%;
	height: auto;
	position: relative;
	display: inline-block;
	float: left;
}

.main {
	width: 1200px;
	min-height: 100%;
	margin: 0 auto;
	/*overflow: hidden;*/
	position: relative;
}

.hide {
	display: none !important;
}

.nobor {
	border: 0 !important;
}

.nomar {
	margin-right: 0 !important;
}

.caret-b {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	/*border-top: 4px solid\9;*/
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.caret-t {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 3px;
	vertical-align: middle;
	border-bottom: 6px dashed;
	/*border-bottom: 6px solid\9;*/
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
}

.caret-r {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 3px;
	margin-right: 3px;
	vertical-align: middle;
	border-left: 6px dashed;
	/*border-left: 6px solid\9;*/
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	color: #27a9f2;
}

.browsehappy {
	text-align: center;
}


/* 头部样式 */

.header-top {
	background: #f0f0f0;
	color: #555555;
	font-size: 12px;
	line-height: 30px;
}

.header {
	padding: 30px 0;
	padding-bottom: 25px;
}

.header .main>img {
	float: left;
}

.logo-info {
	float: left;
	color: #0059b1;
	padding-top: 15px;
}

.header-right {
	float: right;
}

.header-right a {
	color: #333;
	vertical-align: super;
}

.header-right>div {
	margin-top: 5px;
	text-align: center;
}
.header-right>.ercode {
	position: absolute;
	z-index: 999;
	right: 30px;
	display: none;
}


/* 头部样式END */


/* 菜单样式 */

.menu {
	background: #014099;
}

.menu ul {
	width: 100%;
	display: inline-block;
	float: left;
}

.menu li {
	float: left;
	width: 16.66%;
	text-align: center;
}

.menu li a {
	display: inline-block;
	padding: 13px 30px;
	color: #fff;
	text-align: center;
}

.menu li a:hover {
	background: #1a53a3;
}


/* 菜单样式END */


/* 底部菜单样式 */

.footer {
	background: #014099;
	padding-top: 50px;
	padding-bottom: 30px;
	text-align: center;
}

.footer ul {
	width: 500px;
	display: inline-block;
	margin: 0 auto;
}

.footer li {
	width: 16%;
	float: left;
	border-right: 1px solid #fff;
}

.footer li:last-child {
	border-right: 0;
}

.footer li a,
.footer p {
	color: #fff;
	font-size: 12px;
}


/* 底部菜单样式END */


/* 首页样式 */

.banner {
	background: #f3f0e4;
	height: 500px;
}

.banner .banner-cont {
	height: 500px;
	overflow: hidden;
}

.banner .banner-icons {
	width: 60px;
	height: 10px;
	position: absolute;
	right: 50px;
	bottom: 20px;
}

.banner .banner-icons li {
	display: inline-block;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background: #fff;
	cursor: pointer;
}

.banner .banner-icons li:hover,
.banner .banner-icons li.active {
	background: #84c1ff;
}

.post {
	padding: 10px 0;
}

.post img,
.post span {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}

.about {
	background: #f0f0f0;
	padding: 30px 0;
}

.title,
.title-sub {
	display: inline-block;
	color: #555;
	text-align: center;
	width: 100%;
	font-size: 24px;
}

.title-sub {
	font-size: 14px;
}

.title-hr {
	width: 25px;
	height: 3px;
	background: #014099;
	border: 0;
	margin-bottom: 20px;
}

.about-img {
	width: 500px;
	height: 320px;
	float: left;
}

.cont {
	width: 640px;
	padding: 30px;
	height: 260px;
	float: left;
	background: #fff;
}

.cont h2 {
	color: #014099;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 25px;
}

.cont p {
	text-indent: 2em;
	margin: 0;
}

.business {
	padding: 60px 0;
}

.business ul {
	width: 1150px;
	margin-left: 25px;
}

.business li {
	float: left;
	width: 130px;
	padding: 0 50px;
	text-align: center;
}

.business li span {
	font-size: 18px;
	color: #000;
	display: block;
}

.business li .info {
	margin-top: 5px;
	font-size: 14px;
	color: #014099;
	display: inline-block;
	width: 75px;
	height: 24px;
	line-height: 24px;
	border: 1px solid #014099;
}

.business li .info:hover {
	color: #fff;
	background: #014099;
}

.case {
	background: #f0f0f0;
	padding: 40px 0;
	position: relative;
}

.case-cont {
	width: 1080px;
	margin: 0 auto;
	overflow: hidden;
}

.case-cont ul {
	width: 9999px;
}

.case-cont li {
	width: 270px;
	float: left;
	text-align: center;
}

.case-cont li span {
	color: #555;
	font-size: 12px;
	margin-top: 15px;
	display: inline-block;
}

.jt-pre,
.jt-next {
	position: absolute;
	top: 48%;
	left: 10px;
}

.jt-next {
	left: auto;
	right: 10px;
}


/* 首页样式END */


/* 解决方案样式 */

.solutions-banner {
	background: #c4dfef;
	height: 240px;
}

.application-banner {
	background: #000711;
	height: 240px;
}

.solutions-title {
	padding-top: 60px;
	padding-bottom: 50px;
	text-align: center;
}

.solutions-title p {
	width: 580px;
	margin: 0 auto;
	color: #333;
}

.solutions-cont {}

.solutions-cont ul {
	float: left;
	width: 1150px;
	margin-left: 25px;
	border-bottom: 2px solid #014099;
}

.solutions-cont li {
	padding: 10px 0;
	float: left;
	width: 230px;
	text-align: center;
	cursor: pointer;
	background: #bbbbbb;
	color: #333;
	font-size: 18px;
}

.solutions-cont li:hover,
.solutions-cont li.active {
	background: #014099;
	color: #fff;
}

.solutions-cont .box {
	float: left;
	width: 1088px;
	margin-left: 25px;
	border: 1px solid #bbb;
	border-top: 0;
	padding: 50px 30px;
	margin-bottom: 50px;
	display: none;
}

.solutions-cont .box.active {
	display: block;
}

.solutions-cont .box img {
	float: left;
	margin-left: 20px;
	margin-right: 40px;
}

.solutions-cont .box p {
	width: 600px;
	float: left;
	text-indent: 2em;
	color: #8c8b8b;
	font-size: 16px;
}

.solutions-cont .box-xxl p {
	width: 570px;
}


/* 解决方案样式END */


/* 服务支持样式 */

.h_select,
.h_select div,
.h_menu li.h_select a {
	color: #014099;
}

.h_main {
	width: 1200px;
	min-height: 100%;
	margin: 20px auto;
	position: relative;
	display: flex;
}

.h_wrap {
	min-width: 1200px;
	width: 100%;
	height: 240px;
	position: relative;
	display: inline-block;
	background-color: #8c8c8c;
}

.h_wrap img {
	height: 240px;
}

.h_left {
	width: 220px;
}

.h_left .h_menu {
	background: #014099;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.h_menu_title {
	color: white;
	/*padding: 12px 20px;*/
	height: 68px;
}

.h_menu_title_left {
	float: left;
	margin: 10px 0px 10px 20px;
}

.h_menu_title_left .span1 {
	font-size: 20px;
}

.h_menu_title_left .span2 {
	font-size: 12px;
}

.h_menu_title_right {
	float: right;
	line-height: 68px;
	margin-right: 15px;
}

.h_menu_title_right img {
	width: 20px;
	vertical-align: middle;
}

.h_menu ul {
	width: 219px;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
}

.h_menu li {
	width: 100%;
	height: 48px;
	line-height: 48px;
	background: white;
	display: inline-flex;
	border-bottom: 1px solid #e8e8e8;
}

.h_menu li a {
	padding: 0px 110px 0px 20px;
	color: #a1a1a1;
	text-align: center;
}

.h_left .h_link {
	margin-top: 30px;
	background: #5f5f5f;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.h_link_title {
	color: white;
	height: 55px;
	line-height: 55px;
}

.h_link_title_left {
	float: left;
	margin-left: 20px;
	font-size: 20px;
}

.h_link_title_right {
	float: right;
	margin-right: 15px;
}

.h_link_title_right img {
	width: 20px;
	vertical-align: middle;
}

.h_link_content {
	padding: 30px 0px;
	text-align: center;
	background: white;
	border: 1px solid #e8e8e8;
}

.h_link_content .span1 {
	font-size: 12px;
	color: #4b4b4b;
}

.h_link_content .span2 {
	font-size: 25.43px;
	color: #014099;
}

.h_content {
	text-align: center;
	padding: 10px 20px;
	color: #8c8b8b;
	font-size: 18px;
	line-height: 446px;
}

.h_content p {
	line-height: 28px;
	text-align: left;
	text-indent: 2em;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

.h_content img {
	margin: 20px;
	max-width: 800px;
	vertical-align: middle;
}

.h_content_title {
	height: 70px;
	line-height: 70px;
	color: #999999;
	background: #fafafa;
	border-bottom: 2px solid #E8E8E8;
	padding-left: 30px;
}

.h_main .h_show {
	display: inline-block;
}

.h_right {
	display: none;
	margin-left: 25px;
	width: 940px;
	border: 1px solid #e8e8e8;
}

.h_content .h_content_list a {
	text-align: left;
	display: block;
}

.h_content .h_content_list p {
	line-height: normal;
	text-indent: 0em;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
}
.xm-content-info{
	padding-bottom: 30px;
}
.xm-content-info h1{
	font-size: 24px;
	color: #333;
	margin: 30px 0;
	line-height: 24px;
}
.xm-content-info p{
	font-size: 12px;
	color: #666;
}

.h_content_list .h_news_list {
	margin: 0 10px;
	border-bottom: 1px dotted #cccccc;
	height: 99px;
}

.h_news_title {
	font-size: 14px;
	color: #000000;
}

.h_news a .h_news_content {
	font-size: 12px;
	color: #808080;
}

.h_news_list div {
	float: left;
	margin-top: 15px;
}

.h_news_list div.h_ad {
	background: url(../img/icon_ad.png) no-repeat center center;
	width: 12px;
	height: 12px;
	margin: 33px 15px 0px 15px;
}

.h_news_list .h_news {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 838px;
}

.h_content .h_paging {
	margin: 0 auto;
	text-align: center;
	height: 60px;
	font-size: 12px;
	line-height: normal;
}

.h_paging ul {
	display: inline-block;
	margin-top: 25px;
}

.h_paging li {
	margin: 0 5px;
	float: left;
	border: 1px solid #999999;
	padding: 3px 10px;
}
.h_paging div{
	display: initial;
}
.h_paging .h_select {
	border: 1px solid #014099;
}


/* 服务支持样式END */


/* {pageName}样式 */


/* {pageName}样式END */